page-about {

}

.masters {
  background-color: #2bcaff;
}

#logo {
  display: block;
  margin: auto;
  width: 47%;
}

#appName {
  text-align: center;
  font-family: 'Roboto';
  color: #FFFFFF;
}

#text {
  margin-top: 7%;
  text-align: justify;
  color: #FFFFFF;
  font-family: 'Roboto';
}

#editors {
  color: #FFFFFF;
  font-family: 'Roboto';
  text-align: center;
}

