<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="fbLogin()">{{ loggedIn ? 'Logout' : 'Login with Facebook' }}</button>
  <div *ngIf="loggedIn">
    <img src="{{ userProfile?.profile_photo }}">
    <h3>{{ userProfile?.name }}</h3>
    <h4>Friends</h4>
    <ion-list>
      <ion-item *ngFor="let friend of userProfile.friends" (click)="callOnMe()">
        <ion-avatar item-left>
          <img src="{{ friend.profile_photo }}">
        </ion-avatar>
        <h2>{{ friend.name }}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
