<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()" *ngIf="loggedIn && !canEdit">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="more($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <button ion-button full icon-left color="#3b5998" style="text-transform: none" (click)="fbLogin()" *ngIf="!canEdit">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          {{ loggedIn ? 'Log out' : 'Log in with Facebook' }}
        </button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center *ngIf="loggedIn">
      <ion-col text-center>
          <img src="{{ userProfile?.profile_photo }}">
          <h3>{{ userProfile?.name }}</h3>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center
             *ngIf="loggedIn && !canEdit && (userProfile.email || userProfile.birthday)">
      <ion-col>
        <h6 *ngIf="userProfile.email">Email: {{ userProfile?.email }}</h6>
        <h6 *ngIf="userProfile.birthday">Birthday: {{ userProfile?.birthday }}</h6>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center *ngIf="canEdit">
      <ion-col>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" pattern="[a-zA-Z0-9_\.]+@[a-zA-Z0-9]+\.[a-z]{2,3}" [(ngModel)]="userProfile.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Birthday</ion-label>
          <ion-input type="date" [(ngModel)]="userProfile.birthday"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row align-items-end *ngIf="canEdit">
      <ion-col>
        <ion-buttons end>
          <button ion-button color="dark" clear (click)="cancel()">Cancel</button>
          <button ion-button color="secondary" (click)="checkEmail()">Update</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center *ngIf="loggedIn && !canEdit">
      <ion-col>
          <h4>Friends:</h4>
          <ion-list>
            <ion-item *ngFor="let friend of userProfile.friends">
              <ion-avatar item-left>
                <img src="{{ friend.img }}">
              </ion-avatar>
              <h2>{{ friend.name }}</h2>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
